{% extends "timetable/base.html" %}
{% block content %}
{% for note in notes %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ note.author.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="">{{ note.author }}</a>
              <small class="text-muted">{{ note.date_posted|date:"F d, Y" }}</small>
            </div>
            <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'note-update' note.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'note-delete' note.id %}">Delete</a>
              </div>
            <h2><a class="article-title" href="#">{{ note.title }}</a></h2>
            <p class="article-content">{{ note.content }}</p>
          </div>
        </article>
    {% endfor %}
    <div align="right"><a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'note-create' %}">Add Note</a></div>
{% endblock content %}

